/*general styling*/
body {
    margin:0;
    padding:0;
    background-image: linear-gradient(to right, rgb(32, 2, 202), rgb(0, 238, 255));
}


.navbar {
    background-color: rgb(13, 0, 134);
}

.navbar a {
    color:rgb(155, 242, 253) !important;
    transition: all 0.3s ease-in;
    font-family: 'Noto Sans', sans-serif;
}

.navbar a:hover {
    color: rgb(255, 255, 255) !important;
}

.navbar-nav {
    text-align: center;
}

/* .nav-item {
    border-bottom: solid 1px white;
}
.nav-item:nth-child(5){
    border-bottom: none;
} */